<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title> #Twitter </title>
<link
href="/Maia/proj2-pd7-07--twitter/bootstrap/css/bootstrap.css"
rel="stylesheet" type = "text/css" media="screen"/>
</head>

<body>
<h1 class = "big purple font"> Your goal is to get here: {{end}}</h1>
<h1 class = "big purple font"> Start hashtag: {{start}}  Current
hashtag: {{current}}</h1>
<h3> Note: the previous hashtag can always be found at the end of the
hashtag list </h3>
<h4> Number of Clicks: {{numClicks}} </h4>
<div class = "container">
{{data}}

<br><br>

<div class = "purple font"> Hashtags to select: </div>
<form method = "post">
{% for hashtag in hashtags %}
#<input type = "submit" name = "button" value = {{hashtag}}>
{% endfor %}
</form>

</div>

<link href = 'http://fonts.googleapis.com/css?family=Poiret+One' rel =
  'stylesheet' type = 'text/css'> </link>

<style>
.font {font-family: Poiret One}
.big {font-size: 20px}
.purple {color: #4B088A}
</style>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src=”js/bootstrap.js”></script>
</div>
</body>
</html>

