<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title> #Twitter </title>
<link
href="/Maia/proj2-pd7-07--twitter/bootstrap/css/bootstrap.css"
rel="stylesheet" type = "text/css" media="screen"/>
</head>

<body>
<div class = ""container"">
<h1 class = "big purple font"> Welcome to #Twitter! </h1>
<h2 class = "font"> Can you get from the start hashtag to the end hashtag in 5 steps?</h2>

<form>
<label class = "font" >Start Hashtag: </label>
# <input type= "text" name = "start" placeholder = "Enter a start hashtag"> </br>  
<button type="submit" class="btn btn-default">Submit</button>
</form>

<link href = 'http://fonts.googleapis.com/css?family=Poiret+One' rel =
  'stylesheet' type = 'text/css'> </link>

<style>
.font {font-family: Poiret One}
.big {font-size: 40px}
.purple {font color = "#4B088A"}
</style>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src=”js/bootstrap.js”></script>
</div>
</body>
</html>
